@{
    ViewData["Title"] = "Lab 1";
}

<h2>Lab 1: Завдання</h2>
<p>
    Антон працює кур'єром. Має багато замовлень. На виконання одного замовлення у Антона йде рівно один день. Для кожного замовлення визначено вартість та термін його виконання (кількість днів, що залишилися до запланованого дня виконання замовлення). Якось прокинувшись, Антон вивчив свій графік і зрозумів, що, можливо, він не зможе виконати всі замовлення, і його можуть звільнити. Тому він вирішив виконати лише деякі з них так, щоб отримати максимальний дохід.
</p>
<h3>Вхідні дані</h3>
<p>Перший рядок вхідного файлу INPUT.TXT містить ціле число N (1 ≤ N ≤ 1000) – кількість замовлень. Потім у N рядках описані дані кожного замовлення Ti та Ci (натуральні числа, що не перевищують 105). Де Ti – останній день, коли ще можна виконати замовлення, Ci – винагорода за виконання замовлення.</p>
<h3>Вихідні дані</h3>
<p>У вихідний файл OUTPUT.TXT виведіть максимальну винагороду, яку можна отримати, виконуючи замовлення.</p>
<hr />

<form method="post">
    <label for="input">Input File Path:</label>
    <input type="text" id="input" name="input" required>
    <br>
    <label for="output">Output File Path:</label>
    <input type="text" id="output" name="output" required>
    <br>
    <button type="submit">Run</button>
</form>

@if (ViewBag.Result != null)
{
<h3>Output:</h3>
<pre>@ViewBag.Result</pre>
}
